[submodule "externals/pb_s_am"]
	path = externals/pb_s_am
	url = https://github.com/Electrostatics/pb_solvers
[submodule "externals/pybind11"]
	path = externals/pybind11
	url = https://github.com/pybind/pybind11
	ignore = all
