version: 3.0.{build}

branches:
  only:
    - master

image:
  - Visual Studio 2019

clone_folder: c:\projects\source

clone_depth: 5

environment:
  PYTHON: "C:\\Python37-x64"

matrix:
  fast_finish: false

# cache:
#  - C:\ProgramData\chocolatey\bin -> appveyor.yml # swig.exe
#  - C:\ProgramData\chocolatey\lib -> appveyor.yml # supporting swig Lib files.
  
install:
  # Install non-python dependencies using chocolatey package manager
  # - choco install tools\windows\swig.4.0.0.nupkg --yes --limit-output
  - IF NOT EXIST C:\ProgramData\chocolatey\bin\swig.exe choco install --ignorechecksum -f -r -y swig --version=4.0.0
  
#  - type C:\ProgramData\chocolatey\logs\chocolatey.log

  - where /r C:\ProgramData\chocolatey swig.swg
  
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;C:\\projects\\source\\build\\bin;C:\\ProgramData\\chocolatey\\lib\\swig\\tools\\install;C:\\ProgramData\\chocolatey\\bin;%PATH%"

#  - swig -swiglib
  - "SET SWIG_DIR=C:\\ProgramData\\chocolatey\\lib\\swig\\tools\\install"
  - "SET SWIG_EXECUTABLE=C:\\ProgramData\\chocolatey\\lib\\swig\\tools\\install\\swig.exe"
  
  # Check that we have the expected version and architecture for Python
  - python --version

  - python -m pip install --upgrade pip

  # Install the build dependencies of the project. If some dependencies contain
  # compiled extensions and are not provided as pre-built wheel packages,
  # pip will build them from source using the MSVC compiler matching the
  # target Python version and architecture
  - pip.exe install -r c:\projects\source\requirements.txt

build_script:
- cmd: >-

    git submodule init

    git submodule update

    cd c:\projects\source

    mkdir build

    cd build

    cmake -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTING=ON -DBUILD_TOOLS=ON -DCHECK_EPSILON=ON -DENABLE_BEM=ON -DENABLE_GEOFLOW=ON -DENABLE_INLINE=ON -DENABLE_PBAM=OFF -DENABLE_PYTHON=ON -DENABLE_TESTS=ON -DENABLE_VERBOSE_DEBUG=ON -DGET_NanoShaper=ON -G "Visual Studio 16 2019" -A x64 c:\projects\source

    cat c:\projects\source\build\CMakeFiles\CMakeError.log

    cmake --build . --config "Release"

    ctest -C Release --verbose --output-on-failure

    gci -Path c:\projects\source\build -r -fi apbs.exe

    cpack -C Release

    unzip -l APBS*.zip
