---
name: Build
on:
  pull_request:
  push:
    branches: [master]
jobs:
  build:
    name: Compile Code
    runs-on: ${{ matrix.os }}
    if: "!contains(github.event.head_commit.message, 'noci')"
    strategy:
      fail-fast: false
      matrix:
        # os: [ubuntu-latest]
        # os: [macOS-latest]
        os: [ubuntu-latest, macOS-latest]
        # os: [ubuntu-latest, macOS-latest, windows-latest]
        python-version: [3.8]
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Mac Prereqs
        if: matrix.os == 'macOS-latest'
        uses: mstksg/get-package@v1
        with:
          brew: gcc@9 bison flex swig readline libomp lapack
      - name: Linux Prereqs and Remove broken apt repos [Ubuntu]
        if: matrix.os == 'ubuntu-latest'
        run: |
          for apt_file in `grep -lr microsoft /etc/apt/sources.list.d/`; do sudo rm $apt_file; done
          sudo apt-get install -fyq software-properties-common build-essential gcc-9 g++-9 bison flex swig libreadline-dev libomp-dev
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-9 9
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-9 9
          gcc --version
          g++ --version
      - name: Build and Install
        run: |
          ./.build.sh
        env:
          # https://codecov.io/gh/Electrostatics/apbs
          CODECOV_TOKEN: "e3a1e24c-5598-4f47-9353-7fa0ac57f98e"
